spring:
  application:
    name: 2

server:
  port: 8082

feign:
  hystrix:
    enabled: true

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true
